.recipe-entry {
  margin: 0 20px 20px 0;

  &.boxed-list {
    min-width: 120px;
    max-width: 300px;
  }

  &.full-recipe {
    width: 100%;
    .img-wrapper {
      .recipe-image {
        height: 320px;
      }
    }
  }

  .img-wrapper {
    position: relative;
    display: block;

    .recipe-image {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center;
    }
    .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparentize($gray-dark, .7);
      transition: opacity .3s;
      display: flex;
      justify-content: center;
      align-items: center;

      .view-animation {
        opacity: 0;
        color: white;
        padding: 10px 15px;
        font-size: 17px;
        background-color: transparentize($gray-dark, .2);
        margin-top: -20px;
        transition: margin .5s;
      }
    }
    &:hover {
      .view-animation {
        opacity: 1;
        margin-top: 0;
        transition: all .5s;
      }
      .overlay {
        opacity: 1;
        transition: opacity .3s;
      }
    }
  }
  .details {
    padding: 20px;
    background: $gray-lightest;

    .title {
      font-size: 20px;
      font-size: 20px;
      line-height: 30px;
      margin: 0;
    }
    .detail-info {
      display: inline-block;
      padding: 0 20px;

      &:not(:last-child) { border-right: 1px solid $gray; }
      &:first-child { padding-left: 0; }

      p {
        margin: 0;
        line-height: 24px;
      }
    }
  }
}
